<div class="icons-container" fxLayout="column" fxLayoutAlign="space-between">
    <div fxLayout="column" fxLayoutGap="13px">
        <div>
            <span class="material-symbols-outlined icon">home</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon">Team_Dashboard</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon">Pie_Chart</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon">Group</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon">home</span>
        </div>
        <div>
            <span class="material-symbols-outlined icon">home</span>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="13px">
        <span class="material-symbols-outlined icon">home</span>
        <span class="material-symbols-outlined icon">Settings</span>
    </div>
</div>